**/*.crt
**/*.enc
**/*.iml
**/*.key
**/*.unenc
**/.DS_Store
**/.classpath
**/.project
**/.settings/
**/bin/
**/config.properties
**/coverage/
**/node_modules/
**/package-lock.json
**/target/
**/workbench.xmi
*.idea
*.orig
.vscode/
/vps4.dev.key
/vps4.local.key
/vps4.prod.key
/vps4.prod_ams3.key
/vps4.prod_phx3.key
/vps4.prod_sin2.key
/vps4.stage.key
/vps4.test.key
tags
