[Unit]
Description=GD VPS4-Web
After=network.target

[Service]
User=vps4
SyslogIdentifier=vps4
WorkingDirectory=/var/log/vps4-web
ExecStart=/usr/bin/java $JVM_OPTS -jar /opt/vps4/vps4-web/vps4-web.jar

User=vps4
Group=vps4
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target